body 
{
    /* background-color: pink;   */
    margin: 0;
}

.main-page {
    display: block;
    background-image: url("/assets/img/landing.jpg");
    background-size: cover;
    background-position: center;
    background-color: #121111;
}

.section-heading {
    display: block;
    margin-left: 40%;
    margin-right: 40%;
    padding-top: 5%;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    border-bottom: 2px solid #121111;
    text-align: center;
}

p {
    font-family: 'Ubuntu Mono', monospace;
    line-height: 30px;
    font-size: 16px;
}


.about-me-content {
    margin: 10% 15% 10% 15%;
}

.skills {
    background-color: #BDBDBD;
    padding-bottom: 5%;
}

.skills-content {
    margin: 10% 20% 10% 20%;
    font-weight: bold;
}

/* DOWNLOAD CV BUTTON */

.cv-button-text {
    background-color: #333333;
    font-family:'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #F2F2F2;
    margin-left: 35%;
    margin-right: 25%;
    padding: 1% 3% 1% 3%;
}

/* PROJECTS SECTION */

.projects {
    background-color: #1E1C1C;
    font-family: 'Ubuntu Mono', monospace;
    width: 100%;
    padding-bottom: 5%;
}

.projects > .section-heading {
    color: #F2F2F2;
    border-bottom-color: #F2F2F2;
    margin-bottom: 4%;  
}

.project-container {
    background-color: #F2F2F2;
    padding: 5% 5% 5% 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.project-container img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.project-container h3 {
    text-align: center;
}

/* CONTACT SECTION */

.form-section {
    background-color: #F2F2F2;
}

form {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 16px;
    padding: 5% 20% 5% 20%;
    line-height: 30px;
}

input[type=text] {
    padding: 12px 20px;
    font-size: 15px;
    font-family: 'Ubuntu Mono', monospace;
    background-color: #F2F2F2;
}

.form-input {
    padding-bottom: 20px;
}

.form-input input {
    border: none;
    border-bottom: 2px solid #000000;
    margin-left: 5px;
    width: 80%;
}

.form-message textarea {
    width: 87.5%;
    height: 200px;
    margin-top: 2.5%;
    margin-bottom: 5%;
    resize: none;
    border: 2px solid #000000;
    font-family: 'Ubuntu Mono', monospace; 
    padding: 12px 20px;
    font-size: 15px;
    line-height: 30px;
}

.form-button {
    background-color: #333333;
    font-family:'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #F2F2F2;
    padding: 1% 7.5% 1% 7.5%;
}


/* CONNECT */

.connect {
    background-color: #121111;
    text-align: center;
}

.connect img {
    width: 7.5%;
    padding: 2.5% 10% 2.5% 10%;
}

.connect a:hover img {
    transform: scale(1.2);
}



/* SMALL DEVICES */

@media (min-width: 320px)
{

    .logo-small {
        background-color: #121111;
        height: 100%;
        width: 100%;
        margin: auto auto auto auto;
        display: block;
        padding: 10px 0 10px 0;
    }

    .logo-small h1 {
        display: block;
        text-align: center;
        margin: auto 37.5% auto 37.5%;
        padding: 2% 2% 2% 2%;
        border: 1px solid #F2F2F2;
        background-color: #121111;
        font-family: 'Special Elite', cursive;
        font-style: Regular;
        font-size: 100%;
        color: #F2F2F2;
    }

    .logo-small a {
        color: #F2F2F2;
    }

    .nav-bar-small {
        background-color: #F2F2F2;
        width: 100%;
        font-family: 'Noto Sans', sans-serif;
    }

    .nav-bar-small h3{
        display: none;
    }

    .nav-bar-small ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .nav-bar-small li {
        display: inline-block;
        padding: 2.5%;
    }

    .nav-bar-small a {
        color: #828282;
        text-decoration: none;
    }

    .nav-bar-small a:hover {
        color: #121111;
        border-bottom: 2px solid #121111;
        padding-bottom: 5px;
        font-weight: bold;
    }

    .nav-bar-med {
        display: none;
    }

    /* MAIN HEADINGS FOR SML DEVICES */
    
    .main-headings-med {
        display: none;
    }

    .main-headings-sml {
        color: #121111;
        font-family: 'Noto Sans', sans-serif;
        text-align: right;
        padding-right: 10%;
        padding-bottom: 30px;
        font-size: 10px;
        padding-top: 5%;
        margin-top: auto;
    }

    .main-headings-sml-first {
        padding-top: 5%;
        margin: 0px;
    }

    .main-headings-sml-last {
        padding-top: 10%;
        margin: 0px;
        padding: 0;
    }

    .main-headings-sml > h2 {
        display: inline-block;
        padding-top: 10px;
        padding-bottom: 20%;
        border-top: 4px solid #121111;
        font-size: 15px;
        font-weight: normal;
    }


}

/* MEDIUM TO LARGE DEVICES */

@media (min-width: 768px)
{

    /* TURN OFF LOGO FOR MOBILE */

    .logo-small {
        display: none;
    }

    .nav-bar-small {
        display: none;
    }

    /* NAV FOR MED TO LRG DEVICES */

    .nav-bar-med {
        display: inline;
        align-content: center;  
        text-align: center;
        background-color: #F2F2F2;
        top: 0;
        width: 100%;  
        margin: auto auto auto auto;
        padding: 10px 0 0px 0; 
    }

    .nav-bar-med a{
        text-decoration: none;
        color: #121111;
        font-size: 25px;
    }

    .nav-bar-med ul {
        display: flex; 
        justify-content: space-around;
        list-style-type: none;
        margin: 0 0 0 0;
        padding: 2.5% 0 0 0;
    }

    .logo-med {
        width: 120px;
        padding-left: 20pxl 
    }

    .logo-med a {
        font-family: 'Special Elite', cursive;
        padding: 4% 2% 2% 2%; 
        border: 2px solid #112111;
    }

    .logo-med a:hover {
        font-weight: bold;
        color: #121111;
        border: 3px solid #112111;
    }

    .nav-element-med a {
        font-family: 'Noto Sans', sans-serif;
        padding: 2% 2% 2% 2%;  
    }

    .nav-element-med a {
        color: #828282;
        padding: 2% 2% 2% 2%; 
    }

    .nav-element-med a:hover {
        color: #121111;
        border-bottom: 2px solid #112111;
        padding-bottom: 5px;
        font-weight: bold;
    }

    /* MAIN HEADINGS */

    .main-headings-sml {
        display: none;
    }

    .main-headings-med {
        display: block;
        color: #121111;
        font-family: 'Noto Sans', sans-serif;
        text-align: right;
        padding: 7.5% 5% 50% 67.5%;
        font-size: 20px;
        margin-top: 2.5%; 
    }

    .main-headings-med h1 {
        padding-top: 5%; 
        margin: 0px;
        padding-bottom: 5%;
        border-bottom: 4px solid black;
        font-weight: bold;
    }

    .main-headings-med h2 {
        padding-top: 20px;
        font-size: 20px;
        font-weight: normal;
    }

    .about-skills-section {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        flex: 2;
    }

    .about-me {
        flex-basis: 50%;
    }

    .skills {
        flex-basis: 50%;
    }

    .project-container {
        display: flex;
        position: relative;
        flex-flow: row nowrap;
        flex: 2; 
    }

    .project-container > img {
        width: 50%;
        height: 50%;
        padding-right: 2.5%
    }

    .project-content {
        padding: 2.5% 2.5% 0 8%;
    }

    .project-content p {
        line-height: 30px;
    }

    /* CONNECT */
    .connect img {
        width: 80px;
        padding: 2.5% 10% 2.5% 10%;
    }

}
